{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'myportofolio.css' %}">
<head>
    <title>Home</title>
</head>
<body>
    <from>
        <div style="padding:5px; width:1400px; height:75px; background:rgba(10, 33, 241, 0.63); display:block;">
            <h1 style="color:rgb(241, 241, 245)"> <marquee scrollamount="65" behavior="slide" width ="1400" height="80">
                <pre><p class="judul">               Portofolio </pre></p></marquee></h1>
            </div>
        </from>
        <pre>
            <div class="box">
                                <img src="{% static 'foto1.jpg' %}" height="1400px" width="1000px">
</pre>
</body>
</html>