{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'myprofile.css' %}">
<head>
  <title>Home</title>
</head>
<body>
    <from>
        <div style="padding:5px; width:1400px; height:75px; background:rgba(10, 33, 241, 0.63); display:block;">
            <h1 style="color:rgb(241, 241, 245)"> <marquee scrollamount="65" behavior="slide" width ="1400" height="80">
                <pre><p class="judul">        WELCOME TO MY PROFILE </pre></p></marquee></h1>
            </div>
        </from>
        <pre>
            <div class="box">
  <img src="{% static 'Nindia-1.jpg' %}" height="700px" width="400px">
  <p class="atasKiri" ><marquee scrollamount="85" behavior="slide" width ="1400" height="80">
    <pre>Nama          : Nindia Prameswari Putri Cahyono</pre></marquee></p>
  <p class="bawahKiri"><marquee scrollamount="80" behavior="slide" width ="1400" height="80">
    <pre>NPM           : 2022.02.01.0.0033</pre></marquee></p>
  <p class="jenis"><marquee scrollamount="75" behavior="slide" width ="1400" height="80">
    <pre>Jenis Kelamin : Perempuan</pre></marquee></p>
  <p class="tetala"><marquee scrollamount="70" behavior="slide" width ="1400" height="80">
    <pre>Tetala        : Pamekasan, 30 November 2003</pre></marquee></p>
  <p class="atasKanan"><marquee scrollamount="65" behavior="slide" width ="1400" height="80">
    <pre>Kelas         : 3/TIC_22</pre></marquee></p>
  <p class="bawahKanan"><marquee scrollamount="60" behavior="slide" width ="1400" height="80">
    <pre>Fakultas      : Teknik</pre></marquee></p>
  <p class="tengah"><marquee scrollamount="55" behavior="slide" width ="1400" height="80">
    <pre>Jurusan       : Teknik Informatika</pre></marquee></p>
  <p class="univ"><marquee scrollamount="50" behavior="slide" width ="1400" height="80">
    <pre>Sekolah       : Universitas Islam Madura</pre></marquee></p>
  <p class="alamat"><marquee scrollamount="45" behavior="slide" width ="1400" height="80">
    <pre>Alamat        : Ds. Durbuk, Kec. Pademawu, Kab. Pamekasan</pre></marquee></p>

</pre>
</body>
</html>